<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <h2>Login Here:</h2>
  <form action="/accounts/login" method="POST">
    {% csrf_token %}
    <div>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" placeholder="username">
    </div>
    <br>
      <label for="password1">Password:</label>
      <input type="password" name="password1" id="password1">
    </div>
    <br>
    <input type="submit" value="Login">
  </form>
  <h3>
    {% for message in messages%}
    {{message}}
    {% endfor %}
  </h3>
</body>

</html>