{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
</head>
<body>
  <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
    <h3>Categories:</h3>
    <ul>
      <li>travel</li>
      <li>fashion</li>
      <li>health</li>
      <li>lifestyle</li>
      <li>management</li>
    </ul>
    <strong>*Note:Please type category in lowercase</strong>
    <div>
      <br>
      <br>
      <br>
      <h4>Create Post Here:</h4>
      {{ form|crispy }}

      <input type='submit' value='Create Post' />
    </div>
    
    
  </form>
  </div>
</body>
</html>